footer {
  height: 15vh;
  flex-shrink: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--secondary-color);
}

footer .thumbnail {
  display: flex;
  align-items: center;
  margin: 0 3rem;
}

footer .thumbnail p {
  margin-left: 1rem;
}

footer .btns {
  background-color: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
  border-radius: 15px;
}

footer .btns p {
  margin: 0 15px;
}
